.allImages {
  max-width       : 335px;
  min-width       : 335px;
  min-height      : auto;
  height          : 200px;
  /* Removed margin and padding, add space-around in .MiddleQuad */
  /* margin       : 0;
  padding         : 2px; */
}

/* Added hover spin effect to allImages */
.allImages {
  transition: transform .7s ease-in-out;
  position:relative;
}

.boxxy:hover .allImages {
  opacity: 0.1
}
.boxxy:hover .left {
  display: block;
}
.boxxy:hover .right {
  display: block;
}
.boxxy {
  position: relative;
  text-align: center;
}
.left {
  display: none;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.right {
  display: none;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}


/* Added hover spin effect to allImages */
.allImages2:hover {
  /* transform: rotate(360deg); */
  /* transform   : rotateX(720deg); */
  /* transform   : rotateY(360deg); */
  /* transform: rotateZ(360deg); */
  animation-name              : spinning2;
  animation-duration          : 0.3s;
  /* animation-iteration-count: infinite; */
  animation-timing-function   : ease-in-out alternate;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  opacity: 1;
}

/* Added keyframes for spin effect for allImages */
@keyframes spinning2 {
  from {
    transform: rotateY(0deg)
  }

  to {
    transform: rotateY(180deg)
  }
}

.OuterMost {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  height        : 100%;
  color: transparent;
}

.outerTop {
  text-align: center;

  width     : 100%;
  height    : 91px;

}
.outerTop2 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 200px;
}
.outerBottom {
  display       : flex;
  flex-direction: row;
  width         : 100%;
}

.RightQuad {
  width: 22%;
}

.LeftQuad {
  width: 24%
}

.MiddleQuad {
  /* Changed width to 65% */
  width           : 65%;
  display         : flex;
  flex-direction  : row;
  flex-wrap       : wrap;
  background-color: rgb(20, 20, 20);
  /* Added space-around allImages */
  justify-content : space-around;

}

.RightQuad2 {
  width         : 22%;
  display       : flex;
  flex-direction: column;
}

.nameandphoto {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  color: black;
  width: 700px;
  height: 100px;
  align-items: center;
  margin-left: 10px;
  margin-top: 100px;

}

.photohere {
  height       : 75px;
  width        : 75px;
  border       : 1px solid black;
  border-radius: 50%;
}

.followbuttons {
  width          : 150px;
  height         : 100px;
  display        : flex;
  justify-content: center;

  align-items: center;
  margin-left: 10px;
  margin-top: 100px;
}
