/* TODO Add site wide styles */
#nav {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
    float: right;


}
#nav A {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bolder;
}
#nav A:hover {
    border-bottom: 3px solid rgb(0, 145, 202);
}
