.feed-container {
  width: 620px;
  margin: 0 auto;
}

.following-card {
  width: 100%;
  margin-bottom: 60px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

.card-username {
  padding: 16px;
  font-size: 20px;
  font-weight: 800;
}

.card-photo img {
  width: 100%;
}

.card-bottom-content {
  padding: 16px;
}

.card-caption {
  display: flex;
  flex-direction: row;
}

.caption-user {
  padding-right: 8px;
  font-weight: 800;
}

.Link {
  color: black;
  text-decoration: none;
}

.title {
  text-align: center;
}

.first-last {
  text-align: center;
}
