.upload {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 860px;
  margin-left: 413px;
  margin-top: 100px;
  background-color: #CED3DC;
}

.uploadTitle {
  font-size: 38px;
  text-align: center;
  /* font-family: leagueFont; */
}

.upload__image-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.clickOrDropButton {
  width: 732px;
  height: 100px;
  font-size: 18px;
}

.image-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image-item__btn-wrapper {
  display: border-box;
}

.captionTextArea {
  height: 89px;
  width: 1092px;
}

/* @font-face {
  font-family: leagueFont;
  src: url("/public/friz-quadrata-std-bold-italic.otf") format("opentype");
} */
.wide {
  margin-left: 490px;
}
.wide2 {
  margin-left: 10px;
}
