.signup-form {
  /* background-color: #fafafa; */
  margin-bottom  : 500px;
  margin-left    : 0;
  height         : 700px;
  display        : flex;
  justify-content: center;
  flex-direction : column;
  text-align     : center;
}

.signup-form h1 {
  font-family: 'Neue Helvetica';
  text-align : center;
  font-size  : 40px;
  color      : rgb(20, 20, 20);
}

.signup-form form {
  /* background-color: #fff; */

  padding   : 10px;
  max-width : 350px;
  margin    : 0 auto;
  text-align: center;

}

.signup-form input {
  background-color: #fafafa;
  border-radius   : 3px;
  border          : 1px solid #dbdbdb;
  color           : rgb(38, 38, 38);
  margin          : 0 40px 6px;
  padding         : 10px;
  width           : 250px;
}

.signup-form button {
  background   : linear-gradient(45deg, rgb(0, 219, 235), rgb(0, 95, 219));
  border       : none;
  outline      : none;
  border-radius: 4px;
  margin       : 0 40px 6px;
  padding      : 10px;
  width        : 275px;
}

.signup-form button:hover {
  background     : linear-gradient(45deg, rgb(0, 219, 235), rgb(0, 95, 219));
  background-size: 300% 300%;
  animation      : easy 4s ease-in-out infinite;
}

@keyframes easy {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.login-link-box {
  background-color: #fff;
  padding         : 10px;
  max-width       : 350px;
  margin          : 10px auto;
  text-align      : center;
}